.user {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .account-content-wrapper.cta {
    flex: 0;
  }

  .transaction-button {
    width: 200px;
  }
}

.edit-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  .edit-title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin: 2rem 0 0 0;
  }
  .disabled {
    opacity: .5;
  }
  .edit-form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    .form-group {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      gap: 1rem;
      label {
        margin-bottom: .5rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
        min-width: 7rem;
      }
      input {
        padding: 10px;
        font-size: 1.1rem;
        border: 1px solid #00bc77;
        border-radius: 5px;
        background-color: #fff;
      }
    }
    .btn-group {
      display: flex;
      justify-content: center;
      gap: .8rem;
      .edit-button {
        border-color: #00bc77;
        background-color: #00bc77;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        font-size: 1.2rem;
        padding: .7rem 0;
        width: 100%;
      }
    }
  }
}